@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Social App</title>
    <link rel="stylesheet" href="~/Content/base.css" />
    <style>
       
    </style>
</head>
<body>
    <header class="container offset-top3">
        <h1>Social App</h1>
    </header>
    <div class="container">
        <div class="carousel">
            <div class="carousel-inner">
                <figure class="item">
                    <img src="http://placehold.it/700x300" />
                </figure>
                <figure class="item active">
                    <img src="http://placehold.it/800x400" />
                </figure>
                <a class="carousel-control left">&lsaquo;</a>
                <a class="carousel-control right">&rsaquo;</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span4">
                <article>
                    <a href="#">
                        <img src="http://placehold.it/350x150" />
                        <h2>Item 1</h2>                        
                    </a>
                </article>
            </div>
            <div class="span4">
                <article>
                    <a href="#">
                        <img src="http://placehold.it/350x150" />
                        <h2>Item 2</h2>
                    </a>
                </article>
            </div>
            <div class="span4">
                <article>
                    <a href="#">
                        <img src="http://placehold.it/350x150" />
                        <h2>Item 2</h2>
                    </a>
                </article>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tab">
            <li class="active"><a>Tab 1</a></li>
            <li><a>Tab 2</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <h1>Tab 1 content</h1>
            </div>
            <div class="tab-pane">
                <h1>Tab 2 content</h1>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <ul class="nav">
                <li class="active"><a>Home</a></li>
                <li><a>Gallery</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
    </nav>
    <footer class="container">

    </footer>
</body>
</html>