@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Windows App</title>
    <link rel="stylesheet" href="~/Content/base.css" />
    <link rel="stylesheet" href="~/Content/windows.css" />
    <style>
        .container {
            padding: 50px;
        }

        .tile div {
            height: 100px;
            margin: 5px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header class="container">
        <button type="button" class="btn icon icon-back">
            <span class="hide-text">Back</span>
        </button>
        <h1>Windows App</h1>
    </header>
    <div class="container">
        <div class="hub">
           <div class="row">
                <section class="group" style="min-width: 500px; padding-right: 50px;">
                    <div class="tile span6">
                        <div class="bg-blue">
                            <h2>Blog Posts</h2>
                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-blue">
                            <h2>Photos</h2>
                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-green">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                </section>
                <section class="group" style="min-width: 500px; padding-right: 50px;">
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-green">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-yellow">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-green">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                </section>
                <section class="group" style="min-width: 500px; padding-right: 50px;">
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-green">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                </section>
                <section class="group" style="min-width: 500px; padding-right: 50px;">
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-green">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                </section>
                <section class="group" style="min-width: 500px; padding-right: 50px;">
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-green">

                        </div>
                    </div>
                    <div class="tile span6">
                        <div class="bg-blue">

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <footer class="container">

    </footer>
</body>
</html>