@using Instatus.Core.Utils

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Windows App</title>
    <link rel="stylesheet" href="~/Content/base.css" />
    <link rel="stylesheet" href="~/Content/windows.css" />
    <style>
        .group {
            min-width: 500px;
        }

        .tile-inner {
            min-height: 150px;
        }
    </style>
</head>
<body class="bg-dark">
    <header class="container">
        <h1>Windows App</h1>
    </header>
    <div class="container">
        <div class="hub">
           <div class="row">
                @for (var i = 0; i < 6; i++)
                {
                    <section class="group">
                        <div class="tile span12">
                            <div class="tile-inner bg-cyan">
                                <h3>Blog</h3>
                                <h2>Post title</h2>
                            </div>
                        </div>
                        <div class="tile span6">
                            <div class="tile-inner bg-pink">
                                <h2>Photos</h2>
                            </div>
                        </div>
                        <div class="tile span6">
                            <div class="tile-inner bg-green">

                            </div>
                        </div>
                    </section>
                    <section class="group">
                        <div class="tile span12">
                            <div class="tile-inner bg-light">
                                <div class="rich-text">
                                    <h3>Blog</h3>
                                    <h2>@DataBuilder.CreateMockSentence(3)</h2>
                                    <p>@DataBuilder.CreateMockSentence(50)</p>
                                    <p>@DataBuilder.CreateMockSentence(50)</p>
                                </div>
                            </div>
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
    <footer class="container">

    </footer>
</body>
</html>