@model Instatus.Models.Credential

@{
    var facebookSettings = new
    {
        init = new
        {
            appId = Model.Uri,
            status = true,
            cookie = true,
            xfbml = Model.HasFeature("xfbml"),
            channelUrl =  WebPath.MatchProtocol(WebPath.Absolute(Url.Action("Channel", "Facebook", new { area = "Facebook" }))),
            oauth = true
        },
        scope = Model.Scope
    };
}

@Html.InlineData("facebookSettings", facebookSettings)

<div id="fb-root"></div>
<script src="//connect.facebook.net/en_US/all.js"></script>
<script>
    FB.init(facebookSettings.init);
    FB.Canvas.setAutoGrow();
</script> 