@model SelectList

<ul id="@ViewData.ModelMetadata.PropertyName.ToCamelCase()">
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLinkOrText(item.Selected, item.Text, ViewContext.RouteData.ActionName(), 
                ((Query)ViewBag.Query)
                    .WithPageIndex(0)
                    .ToRouteValueDictionary()
                    .AddNonEmptyValue(ViewData.ModelMetadata.PropertyName.ToCamelCase(), item.Value ?? item.Text))
        </li>
    }
</ul>