@model MultiSelectList

@{
    // remove name of select list property from end of prefix, to replace with column name
    var htmlFieldPrefix = string.Join(".", ViewData.TemplateInfo.HtmlFieldPrefix.ToList('.').Pop());

    var htmlFieldName = ViewData.ModelMetadata.AdditionalValues.ContainsKey("ColumnName") ?
        ViewData.ModelMetadata.AdditionalValues["ColumnName"].ToString() : "Selected" + ViewData.ModelMetadata.PropertyName;

    var htmlFieldNameParts = new string[] { htmlFieldPrefix, htmlFieldName }.RemoveNullOrEmpty(); 
}

<div class="checkbox-list">
    @foreach(var item in Model.OrderByDescending(m => m.Selected)) {
        <label class="checkbox">
            <input type="checkbox" name="@(string.Join(".", htmlFieldNameParts))" value="@item.Value"
                @if(item.Selected) {
                    @:checked    
                }
                />
            @item.Text  
        </label>
    }    
</div>