@model bool

@if (Model)
{
    <span class="badge badge-success">
        <i class="icon-ok icon-white"></i>
    </span>
}
else
{
    <span class="badge badge">
        <i class="icon-remove icon-white"></i>
    </span>
}