body[data-route-action=index] td
{
    vertical-align: middle;
}

body[data-route-action=create] .page-heading, body[data-route-action=edit] .page-heading, body[data-route-action=details] .page-heading {
    display:  none;
}

img.thumbnail
{
    display: block;
    max-width: 100px;
    margin-top: 10px;
}

menu 
{
    padding: 0;
}

table form 
{
    display: inline-block;
}

.btn-group form 
{
    float: left;
    margin: 0;
}

table button 
{
    vertical-align: top;    
}

table section
{
    overflow: hidden;
    max-width: 800px;
}

form span.controls
{
    display: block;
}

.list .model
{
    border-bottom: 1px solid #DDD;
    margin-bottom: 18px;
}

.checkbox-list 
{
    max-height: 115px;
    overflow-y: scroll;
}

.actions {
    width: 20%;
    white-space: nowrap;
}

.alert-error {
    margin-left: 1.0em;
    display: inline-block;
}

@media (min-width: 480px)  
{   
    textarea, textarea.input-xlarge
    {
        width: 540px;
        height: 200px;        
    }
}

@media (min-width: 980px)  
{  
    body[data-route-action=index]
    {
        padding-top: 60px;
    }      
}