body[data-route-action=index]
{
    padding-top: 60px;
}

table form 
{
    display: inline;
}

table button 
{
    vertical-align: top;    
}

menu 
{
    padding: 0;
}

@media (min-width: 480px)  
{
    textarea, textarea.input-xlarge
    {
        width: 540px;
        height: 200px;        
    }
}