body[data-route-action=index]
{
    padding-top: 60px;
}

body[data-route-action=index] td
{
    vertical-align: middle;
}

menu 
{
    padding: 0;
}

table form 
{
    display: inline;
}

table button 
{
    vertical-align: top;    
}

table section
{
    overflow: hidden;
    max-width: 800px;
}

form span.controls
{
    display: block;
}

fieldset fieldset 
{
    border-bottom: 1px solid #DDD;
    margin-bottom: 18px;
}

@media (min-width: 480px)  
{
    textarea, textarea.input-xlarge
    {
        width: 540px;
        height: 200px;        
    }
}