/* box sizing */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* backgrounds */

* {
    background-repeat: no-repeat;
}

/* font */

body {
    font-family: sans-serif;               
}

/* canvas or iframe app */

html.canvas-app, 
html.canvas-app body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* layout */

body {
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* utilities */

.center {
    margin-left: auto;
    margin-right: auto;
}

.middle {
    vertical-align: middle;
    text-align: center; 
}

.hide {
    display: none;
}

.show {
    display: block;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/* links */

a, 
a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* buttons */

.btn {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.btn img {
    vertical-align: middle;
}

/* aspect ratio */

.aspect-ratio {
    display: inline-block;
    position: relative;
    width: 100%;
}

.aspect-ratio-4-3 .aspect-ratio-inner {
     margin-top: 75%;
}

.aspect-ratio-16-9 .aspect-ratio-inner {
     margin-top: 56.25%;
}    

.aspect-ratio img,
.aspect-ratio video,
.aspect-ratio object {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* image width */

img,
video,
object {
    max-width: 100%;
}

figure {
    width: 100%;
}

figure img,
figure video,
figure object {
    width: 100%;
}

/* hub, section, tile layout */

.hub {
    display: table;
    width: 100%;
    height: 100%;    
}

.hub .row {
    display: table-row;
}

.hub .group {
    display: table-cell;
    vertical-align: top;
}

.hub .tile {
    display: inline-block;
}

/* https://github.com/necolas/normalize.css/blob/master/normalize.css */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

[hidden],
.hidden {
    display: none;
    visibility: hidden;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

img {
    border: 0;
}

figure {
    margin: 0;
}

/* http://nicolasgallagher.com/another-css-image-replacement-technique */

.hide-text {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

/* http://nicolasgallagher.com/micro-clearfix-hack */

.clear-fix:before, 
.clear-fix:after {
    content: " ";
    display: table;
}

.clear-fix:after {
    clear: both;
}

.clear-fix {
    *zoom: 1;
}

/* apply clearfix to rows */

.row:before, 
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row {
    *zoom: 1;
}

/* 12 column grid */

.span1 {
    width: 8.33%;
    float: left;
}

.span2 {
    width: 16.66%;
    float: left;
}

.span3 {
    width: 25%;
    float: left;
}

.span4 {
    width: 33.33%;
    float: left;
}

.span5 {
    width: 41.66%;
    float: left;
}

.span6 {
    width: 50%;
    float: left;
}

.span8 {
    width: 66.66%;
    float: left;
}

.span9 {
    width: 75%;
    float: left;
}

.span10 {
    width: 83.33%;
    float: left;
}

.span11 {
    width: 91.66%;
    float: left;
}

.span12 {
    width: 100%;
    float: left;
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11 {
    padding: 0.25em;
}

/* offset */

.offset1 {
    margin-left: 8.33%;
}

.offset2 {
    margin-left: 16.66%;
}

.offset3 {
    margin-left: 25%;
}

.offset4 {
    margin-left: 33.33%;
}

.offset5 {
    margin-left: 41.66%;
}

.offset6 {
    margin-left: 50%;
}

.offset8 {
    margin-left: 66.66%;
}

.offset9 {
    margin-left: 75%;
}

.offset10 {
    margin-left: 83.33%;
}

.offset11 {
    margin-left: 91.66%;
}

/* margin at top */

.offset-top1 {
    margin-top: 1.0em;
}

.offset-top2 {
    margin-top: 2.0em;
}

.offset-top3 {
    margin-top: 3.0em;
}

/* rich text content */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    text-rendering: optimizeLegibility;
}

h1,
h2 {
    font-weight: normal;
}

p, 
ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
}

.rich-text p,
.rich-text ul,
.rich-text ol {
    margin-bottom: 1.0em;
}

.rich-text a {
    text-decoration: underline;
}

.muted {
    color: #999;
}

/* lists */

ul.unstyled {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

ul.unstyled li {
    display: block;
}

/* pagination */

.pagination {
    padding: 1.0em 0;
}

.pagination-centered {
    text-align: center;
}

.pagination ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

.pagination li {
    display: inline-block;
    padding: 8px;
    border: 1px solid #999; 
}

.pagination li.active {
    background-color: #999; 
    color: white;
}

/* navigation */

.nav {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

.nav li {
    padding: 0;
    padding-right: 1.0em;
    display: inline-block;
}

.nav li.active {
    font-weight: bold;
}

.nav-pills li.active {
    font-weight: normal;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #999;
    color: white;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    width: 100%;
}

.navbar-fixed-top {
    top: 0;
    border-bottom: 1px solid black;
}

.navbar-fixed-bottom {
    bottom: 0;
    border-top: 1px solid black;
}

.navbar-inverse {
    background-color: black;
    color: white;
}

/* tabs */

.nav-tab li {
    border-bottom: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0.25em 0.5em;
}

.nav-tab li.active {
    border: 1px solid #999;
    border-bottom: none;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/* dropdown */

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown-menu.active {
    display: block;
}

/* carousel */

.carousel {
    position: relative;
}

.carousel .item {
    display: none;
}

.carousel .active {
    display: block;
}

.carousel-control {
    display: block;
    position: absolute;
    top: 50%;    
    padding: 0.25em;
    font-size: 3.0em;
    margin-top: -1.0em;
    color: white;
}

.carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;
}

/* form */

fieldset {
    padding: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
}

label {
    display: block;
}

input, 
textarea {
    padding: 0.5em;
}

/* angularjs */

.ng-cloak {
    display: none;
}

/* dark or light theme */

.bg-dark,
.bg-dark-transition:hover {
    background-color: black;
    color: white;
}

.bg-light,
.bg-light-transition:hover {
    background-color: white;
    color: black;
}

/* badge */

.badge {
    background-color: #999;
    color: white;
    padding: 0 8px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

/* responsive */

.visible-phone { display: none !important; }
.visible-tablet { display: none !important; }
.hidden-desktop { display: none !important; }
.visible-desktop { display: inherit !important; }

@media (min-width: 768px) and (max-width: 979px) {
    .hidden-desktop { display: inherit !important; }
    .visible-desktop { display: none !important; }
    .visible-tablet { display: inherit !important; }
    .hidden-tablet { display: none !important; }
}

@media (max-width: 767px) {
    .hidden-desktop { display: inherit !important; }
    .visible-desktop { display: none !important; }
    .visible-phone { display: inherit !important; }
    .hidden-phone { display: none !important; }
}

.container {
    width: 980px;
}

@media (max-width: 979px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .span1,
    .span2,
    .span3,
    .span4,
    .span5,
    .span6,
    .span7,
    .span8,
    .span9,
    .span10,
    .span11 {
        width: 100%;
    }
}