/* box sizing */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* defaults */

* {
    background-repeat: no-repeat;
}

/* font */

body {
    font-family: sans-serif;               
}

/* canvas or iframe app */

html.canvas-app, 
html.canvas-app body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* layout */

body {
    margin: 0;
}

/* utilities */

.center, 
.container {
    margin-left: auto;
    margin-right: auto;
}

.middle {
    vertical-align: middle;
    text-align: center; 
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* links */

a, 
a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* buttons */

.btn {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.btn img {
    vertical-align: middle;
}

/* aspect ratio */

.aspect-ratio {
    display: inline-block;
    position: relative;
    width: 100%;
}

.aspect-ratio-4-3 .aspect-ratio-inner {
     margin-top: 75%;
}

.aspect-ratio-16-9 .aspect-ratio-inner {
     margin-top: 56.25%;
}    

.aspect-ratio-inner > * {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* image width */

figure img,
.tile img {
    min-width: 100%;
}

/* hub, section, tile layout */

.hub {
    display: table;
    width: 100%;
    height: 100%;    
}

.hub .row {
    display: table-row;
}

.hub section, 
.hub .section {
    display: table-cell;
}

.hub .tile {
    display: inline-block;
}

/* https://github.com/necolas/normalize.css/blob/master/normalize.css */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

[hidden] {
    display: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

img {
    border: 0;
}

figure {
    margin: 0;
}

/* http://nicolasgallagher.com/another-css-image-replacement-technique */

.hide-text {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

/* http://nicolasgallagher.com/micro-clearfix-hack */

.clear-fix:before, 
.clear-fix:after {
    content: " ";
    display: table;
}

.clear-fix:after {
    clear: both;
}

.clear-fix {
    *zoom: 1;
}

/* 12 column grid */

.span1 {
    width: 8.33%;
    float: left;
}

.span2 {
    width: 16.66%;
    float: left;
}

.span3 {
    width: 25%;
    float: left;
}

.span4 {
    width: 33.33%;
    float: left;
}

.span5 {
    width: 41.66%;
    float: left;
}

.span6 {
    width: 50%;
    float: left;
}

.span8 {
    width: 66.66%;
    float: left;
}

.span9 {
    width: 75%;
    float: left;
}

.span10 {
    width: 83.33%;
    float: left;
}

.span11 {
    width: 91.66%;
    float: left;
}

.span12 {
    width: 100%;
    float: left;
}

/* rich text content */

p, 
ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
}

.rich-text p,
.rich-text ul,
.rich-text ol {
    margin-bottom: 1.0em;
}

.rich-text a {
    text-decoration: underline;
}

/* navigation or lists */

nav ul, 
ul.unstyled {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

nav li {
    padding: 0;
    display: inline-block;
}

ul.unstyled li {
    display: block;
}

/* form */

fieldset {
    padding: 0;
    border: 0;
}

label {
    display: block;
}

input, 
textarea {
    padding: 0.5em;
}

/* dropdown */

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown-menu.active {
    display: block;
}

/* angularjs */

.ng-cloak {
    display: none;
}