/* box sizing */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content-box,
.content-box * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* backgrounds */

* {
    background-repeat: no-repeat;
}

/* reset */

:focus {
    outline: none;
}

/* font */

body {
    font-family: sans-serif;               
}

/* canvas, tab or iframe app */

html.canvas-app, 
html.canvas-app body,
html.tab-app, 
html.tab-app body {
    width: 100%;
    overflow: hidden;
}

/* layout */

body {
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* 12 column grid */

.span1,
.columns .span1 {
    width: 8.33%;
}

.span2,
.columns .span2 {
    width: 16.66%;
}

.span3,
.columns .span3 {
    width: 25%;
}

.span4,
.columns .span4 {
    width: 33.33%;
}

.span5,
.columns .span5 {
    width: 41.66%;
}

.span6,
.columns .span6 {
    width: 50%;
}

.span7,
.columns .span7 {
    width: 58.33%;
}

.span8,
.columns .span8 {
    width: 66.66%;
}

.span9,
.columns .span9 {
    width: 75%;
}

.span10,
.columns .span10 {
    width: 83.33%;
}

.span11,
.columns .span11 {
    width: 91.66%;
}

.span12,
.columns .span12 {
    width: 100%;
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
    float: left;
    padding: 0.25em;
    display: block;
}

/* offset */

.offset1 {
    margin-left: 8.33%;
}

.offset2 {
    margin-left: 16.66%;
}

.offset3 {
    margin-left: 25%;
}

.offset4 {
    margin-left: 33.33%;
}

.offset5 {
    margin-left: 41.66%;
}

.offset6 {
    margin-left: 50%;
}

.offset7 {
    margin-left: 58.33%;
}

.offset8 {
    margin-left: 66.66%;
}

.offset9 {
    margin-left: 75%;
}

.offset10 {
    margin-left: 83.33%;
}

.offset11 {
    margin-left: 91.66%;
}

/* margin at top */

.offset-top1 {
    margin-top: 1.0em;
}

.offset-top2 {
    margin-top: 2.0em;
}

.offset-top3 {
    margin-top: 3.0em;
}

/* align */

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.align-middle {
    vertical-align: middle;
}

/* absolute position */

.absolute-middle {
    position: absolute;
    top: 50%;
    left: 50%;
}

/* flex */

.flex {
    display: table;
    height: 100%;
}

.flex-column {
    display: table-cell;
}

/* visibility */

.hide {
    display: none;
}

.show {
    display: block;
}

/* float */

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/* text align */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* links */

a, 
a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* buttons */

.btn,
button.unstyled,
button.icon {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.btn img {
    vertical-align: middle;
}

/* aspect ratio */

.aspect-ratio {
    display: inline-block;
    position: relative;
    width: 100%;
}

.aspect-ratio-4-3,
.aspect-ratio-photo {
    margin-top: 75%;
}

.aspect-ratio-1280-720,
.aspect-ratio-1920-1080,
.aspect-ratio-16-9,
.aspect-ratio-hd {
    margin-top: 56.25%;
}    

.aspect-ratio-1920-800,
.aspect-ratio-cinema {
    margin-top: 41.66%;
}        

.aspect-ratio img,
.aspect-ratio video,
.aspect-ratio object,
.aspect-ratio .item {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* image width */

img,
video,
object {
    max-width: 100%;
}

figure {
    width: 100%;
}

figure img,
figure video,
figure object {
    width: 100%;
}

/* https://github.com/necolas/normalize.css/blob/master/normalize.css */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

[hidden],
.hidden,
.hide {
    display: none;
    visibility: hidden;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

img {
    border: 0;
}

figure {
    margin: 0;
}

/* http://nicolasgallagher.com/another-css-image-replacement-technique */

.hide-text {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

/* http://nicolasgallagher.com/micro-clearfix-hack */

.clear-fix:before, 
.clear-fix:after {
    content: " ";
    display: table;
}

.clear-fix:after {
    clear: both;
}

.clear-fix {
    *zoom: 1;
}

/* apply clearfix to row */

.row:before, 
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row {
    *zoom: 1;
}

/* apply clearfix to thumbnails */

.thumbnails:before, 
.thumbnails:after {
    content: " ";
    display: table;
}

.thumbnails:after {
    clear: both;
}

.thumbnails {
    *zoom: 1;
}

/* rich text */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    text-rendering: optimizeLegibility;
}

h1,
h2 {
    font-weight: normal;
}

p, 
ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
}

.rich-text p,
.rich-text ul,
.rich-text ol {
    margin-bottom: 1.0em;
}

.rich-text p:last-child,
.rich-text ul:last-child,
.rich-text ol:last-child {
    margin-bottom: 0;
}

.rich-text a {
    text-decoration: underline;
}

.muted {
    color: #999;
}

/* unstyled lists */

ul.unstyled {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

ul.unstyled li {
    display: block;
}

/* apply unstyled lists to thumbnails */

ul.thumbnails {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

ul.thumbnails li {
    display: block;
}

/* pagination */

.pagination {
    padding: 1.0em 0;
}

.pagination-centered {
    text-align: center;
}

.pagination ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

.pagination li {
    display: inline-block;
    padding: 8px;
    border: 1px solid #999; 
}

.pagination li.active {
    background-color: #999; 
    color: white;
}

/* navigation */

.nav {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

.nav li {
    padding: 0;
    padding-right: 1.0em;
    display: inline-block;
}

.nav li.active {
    font-weight: bold;
}

.nav-pills li.active {
    font-weight: normal;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #999;
    color: white;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    width: 100%;
}

.navbar-fixed-top {
    top: 0;
    border-bottom: 1px solid black;
}

.navbar-fixed-bottom {
    bottom: 0;
    border-top: 1px solid black;
}

.navbar-inverse {
    background-color: black;
    color: white;
}

/* tabs */

.nav-tab li {
    border-bottom: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0.25em 0.5em;
}

.nav-tab li.active {
    border: 1px solid #999;
    border-bottom: none;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/* dropdown */

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown-menu.active {
    display: block;
}

/* animations */

@keyframes centerToLeft {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes centerToRight {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@keyframes leftToCenter {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes rightToCenter {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@-webkit-keyframes centerToLeft {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@-webkit-keyframes centerToRight {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@-webkit-keyframes leftToCenter {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@-webkit-keyframes rightToCenter {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

/* carousel */

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel .carousel-inner .item {
    position: absolute;    
    width: 100%;    
    -webkit-animation-duration: 1.0s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
}

.carousel .carousel-inner .left {
    left: -100%;
    -webkit-animation-name: centerToLeft; 
    animation-name: centerToLeft;    
}

.carousel .carousel-inner .right {
    left: 100%;
    -webkit-animation-name: centerToRight; 
    animation-name: centerToRight;    
}

.carousel .carousel-inner .left.active {
    left: 0;
    -webkit-animation-name: leftToCenter; 
    animation-name: leftToCenter;  
    z-index: 1;  
}

.carousel .carousel-inner .right.active {
    left: 0;
    -webkit-animation-name: rightToCenter; 
    animation-name: rightToCenter;  
    z-index: 1;  
}

.carousel-control {
    display: block;
    position: absolute;
    top: 50%;    
    padding: 0.25em;
    font-size: 3.0em;
    margin-top: -1.0em;
    color: white;
}

.carousel-control.left,
.carousel-control.right {
    cursor: pointer;
    z-index: 2;        
}

.carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;
}

/* dock */

.dock {  
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.dock .top,
.dock .left,
.dock .right,
.dock .bottom {
    position: absolute; 
    -webkit-transition: top 0.5s, left 0.5s;
    -moz-transition: top 0.5s, left 0.5s;
    -ms-transition: top 0.5s, left 0.5s;     
    transition: top 0.5s, left 0.5s;    
    display: block;
}

.dock .top,
.dock .bottom {
    height: 40%;
    width: 100%;
    z-index: 1;    
}

.dock .top {
    top: 0;
    border-bottom: 1px solid black;
}

.dock .top.hide {
    top: -40%;
}

.dock .bottom {
    top: 60%;
    border-top: 1px solid black;
}

.dock .bottom.hide {
    top: 100%;
}

.dock .right,
.dock .left {
    height: 100%;
    width: 40%;
}

.dock .left {
    top: 0;
    border-right: 1px solid black;
}

.dock .left.hide {
    left: -40%;
}

.dock .right {
    left: 60%;
    border-left: 1px solid black;
}

.dock .right.hide {
    left: 100%;
}​

.dock .hide {
    border: 0;    
}

 /* modal */

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    margin-top: -150px;
    width: 500px;
    margin-left: -250px;
    z-index: 51;
    padding: 0.25em;
    border: 1px solid #999; 
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.modal-backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);    
    z-index: 50;
}

/* form */

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
}

label {
    display: block;
}

p label {
    display: inline-block;    
}

input, 
textarea {
    padding: 0.5em;
}

/* angularjs */

.ng-cloak {
    display: none;
}

/* dark, light, highlight theme */

.bg-dark,
.bg-dark-transition:hover {
    background-color: black;
    color: white;
}

.bg-light,
.bg-light-transition:hover {
    background-color: white;
    color: black;
}

.bg-highlight,
.bg-highlight-transition:hover {
    background-color: #999;
    color: white;
}

/* badge */

.badge {
    background-color: #999;
    color: white;
    padding: 0 8px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

/* responsive */

.visible-phone { display: none !important; }
.visible-tablet { display: none !important; }
.hidden-desktop { display: none !important; }
.visible-desktop { display: inherit !important; }

@media (min-width: 768px) and (max-width: 979px) {
    .hidden-desktop { display: inherit !important; }
    .visible-desktop { display: none !important; }
    .visible-tablet { display: inherit !important; }
    .hidden-tablet { display: none !important; }
}

@media (max-width: 767px) {
    .hidden-desktop { display: inherit !important; }
    .visible-desktop { display: none !important; }
    .visible-phone { display: inherit !important; }
    .hidden-phone { display: none !important; }
}

.container {
    width: 980px;
}

@media (max-width: 979px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .span1,
    .span2,
    .span3,
    .span4,
    .span5,
    .span6,
    .span7,
    .span8,
    .span9,
    .span10,
    .span11 {
        width: 100%;
    }
}