/* font */

body {
    font-family: "Segoe UI";
}

/* layout */

.container {
    padding: 2.0em;
    width: auto;
}

/* hub */

.hub {
    display: table;
    width: 100%;
    height: 100%;    
}

.hub .row {
    display: table-row;
}

.hub .group {
    display: table-cell;
    vertical-align: top;
    padding-right: 2.0em;
    padding-bottom: 2.0em;
}

/* apply clearfix to group */

.hub .group:before, 
.hub .group:after {
    content: " ";
    display: table;
}

.hub .group:after {
    clear: both;
}

.hub .group {
    *zoom: 1;
}

/* tile */

.tile {
    display: inline-block;
}

.tile-inner {
    padding: 1.0em;
}

/* padding */

.page-header,
.group-header,
.tile {
    padding: 0.25em;
}

/* symbols */

.icon::before {
   font-family: "Segoe UI Symbol";
   color: white;
}

.icon-back::before {
    content: "\E0D5";
}

.icon-forward::before {
    content: "\E0AE";
}

.icon-toggle::before {
    content: "\E0E7";
}

.icon-star::before {
    content: "\E082";
}

.icon-minus::before {
    content: "\E0B8";
}

.icon-plus::before {
    content: "\E0B6";
}

.icon-save::before {
    content: "\E105";
}

.icon-camera::before {
    content: "\E114";
}

.icon-search::before {
    content: "\E11A";
}

.icon-people::before {
    content: "\E125";
}

.icon-refresh::before {
    content: "\E149";
}

.icon-close::before {
    content: "\E10A";
}

/* colors */

.bg-dark {
    background-color: #1D1D1D;
    color: white;
}

.bg-lime {
    background-color: #A4C400;
    color: white;
}

.bg-green {
    background-color: #60A917;
    color: white;
}

.bg-emerald {
    background-color: #008A00;
    color: white;
}

.bg-teal {
    background-color: #00ABA9;
    color: white;
}

.bg-cyan {
    background-color: #1BA1E2;
    color: white;
}

.bg-cobalt {
    background-color: #0050EF;
    color: white;
}

.bg-indigo {
    background-color: #6A00FF;
    color: white;
}

.bg-violet {
    background-color: #AA00FF;
    color: white;
}

.bg-pink {
    background-color: #F472D0;
    color: white;
}

.bg-magenta {
    background-color: #D80073;
    color: white;
}

.bg-crimson {
    background-color: #A20025;
    color: white;
}

.bg-red {
    background-color: #E51400;
    color: white;
}

.bg-orange {
    background-color: #FA6800;
    color: white;
}

.bg-amber {
    background-color: #F0A30A;
    color: white;
}

.bg-yellow {
    background-color: #E3C800;
    color: white;
}

.bg-brown {
    background-color: #825A2C;
    color: white;
}

.bg-olive {
    background-color: #6D8764;
    color: white;
}

.bg-steel {
    background-color: #647687;
    color: white;
}

.bg-mauve {
    background-color: #76608A;
    color: white;
}

.bg-taupe {
    background-color: #87794E;
    color: white;
}

/* rich text */

h1 {
    font-family: 'Segoe UI Light';
    font-size: 3.0em;
    font-weight: 200;
}

h2 {
    font-family: 'Segoe UI Light';
    font-size: 2.0em;
    font-weight: 200;
}

h3 {
    font-family: 'Segoe UI Light';
    font-size: 1.0em;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* responsive */

@media (max-width: 767px) {
    .container {
        padding: 1.0em;
    }

    .hub,
    .hub .row,
    .hub .group {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
}