@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";    
    ViewBag.Title = "Facebook";
}

<style>
    textarea { width: 100%; height: 300px; }
</style>

<dl>
    <dt>Tasks</dt>
    <dd><button onclick="login()" type="button">Login</button></dd>
    <dd><button onclick="logout()" type="button">Log out</button></dd>
    <dt>Access Token</dt>
    <dd id="accessToken"></dd>
    <dt>Uid</dt>
    <dd id="uid"></dd>
</dl>

<fieldset>
    <legend>Endpoint</legend>
    <input id="endpoint" value="/me"/> <button onclick="request()" type="button">Submit</button>
</fieldset>

<fieldset>
    <legend>Console</legend>
    <textarea id="console"></textarea>
</fieldset>

@Html.Parts(WebZone.Scripts)

<script>
    function request() {
        graph($('#endpoint').val());
    }

    function graph(endpoint) {
        FB.api(endpoint, function (response) {
            $('#console').val(JSON.stringify(response));
        });
    }

    function login() {
        FB.login(function () {
            if (response.authResponse) {
                $('#accessToken').text(response.authResponse.accessToken);
                $('#uid').text();
                graph('/me');
            }
        },
        {
            scope: facebookSettings.scope
        });
    }

    function logout() {
        FB.logout();
    }
</script>