@inherits Instatus.Integration.Mvc.ExtendedViewPage<dynamic>

<div class="form-actions">
    @Html.ActionLink(Phrase("Create"), "Create", null, new { target = "_blank", @class = "btn btn-primary" })
</div>