@inherits Instatus.Integration.Mvc.ExtendedViewPage

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account"))
    {
        @Html.AntiForgeryToken()
        <strong>@User.Identity.Name</strong>
        <button type="submit" class="btn btn-link">@Phrase("LogOff")</button>                                                                        
    }
}