@model Instatus.Core.IPaged

@using Instatus.Core.Extensions

@{
    var actionName = ViewContext.RouteData.GetRequiredString("action");
    var controllerName = ViewContext.RouteData.GetRequiredString("controller");
    var index = 0;
}

<div class="pagination pagination-centered">
    <ul>
        @if (Model.TotalPageCount > 1)
        {
            while (index < Model.TotalPageCount)
            {
                <li class="@(index == Model.PageIndex ? "active" : null)">
                    @Html.ActionLink((index + 1).ToString(), actionName, controllerName, new { pageIndex = index }, null) 
                </li>
                var nextIndex = PaginationExtensions.IncrementPager(index, Model.PageIndex, Model.TotalPageCount, 10);
                if ((nextIndex - index) > 1)
                {
                    <li class="disabled"><a>&hellip;</a></li>
                }
                index = nextIndex;
            }
        }
    </ul>
</div>