@{
    Layout = null;
}

<html>
<head>    
    <title>Error</title>
</head>
<body>
    <p style="font-family: sans-serif;">
        <strong>Sorry.</strong> There was an error generating your page.
        The error has been logged for our technical team.
        Please <a href="/">return to the homepage</a>.
    </p>
</body>
</html>