@{
    Layout = null;
}

<html>
<head>    
    <title>Not Found</title>
</head>
<body>
    <p style="font-family: sans-serif;">
        <strong>Sorry.</strong> We could not find the page you requested.
        Please <a href="/">return to the homepage</a>.
    </p>
</body>
</html>