<!DOCTYPE html>

<html>
<head>    
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>