@using (Html.BeginForm())
{
    <div class="container form-horizontal">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        @Html.EditorForModel()
    </div>
}