@model string[]

@{
    ViewBag.Title = "Files";
}

<div class="container">
    <div class="page-header">
        <h1>Files</h1>
    </div>
    @Html.Action("Create")
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fileName in Model)
            {
                <tr>
                    <td>@fileName</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>