<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Html.Title()</title>
    @RenderSection("base_head")
</head>
<body @Html.RouteDataAttributes()>
    @RenderBody()
</body>
</html>