@model IWebView

@{
    var row = (object)Model.CurrentRow;
    var key = row.GetKey().AsString().ToUrlEncoded();
    var routeData = new { id = key };
    var commandButton = new { target = "_blank", @class = "btn" };    
}

<span class="btn-group">
    @if (Model.Can(WebAction.Details.ToString(), row))
    {
        @Html.ActionLink(WebPhrase.Details, "Details", routeData, commandButton)
    }

    @if (Model.Can(WebAction.Edit.ToString(), row))
    {
        @Html.ActionLink(WebPhrase.Edit, "Edit", routeData, commandButton)
    }
                    
    @if (Model.Can(WebAction.Delete.ToString(), row))
    {
        using (Html.BeginForm("Delete", ViewContext.RouteData.ControllerName(), routeData))
        {
            <span></span>
            @Html.SubmitButton(WebPhrase.Delete, "btn")
        }
    }
</span>