@model Instatus.Models.Page

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

@Html.Content(Model.Description)

@if (Model.Document != null)
{
    @Html.Content(Model.Document.Body)
    @Html.Parts();
}