@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";
    ViewBag.Title = WebPhrase.Create;
}

@using (Html.BeginForm())
{
    <button type="submit">@WebPhrase.Create</button>
    @Html.EditorForModel()
}