@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Create", ViewContext.RouteData.ControllerName(), FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-actions">
            @Html.SubmitButton(WebPhrase.Create, "btn btn-primary")
        </div>
        @Html.EditorForModel()
    }
</div>