@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="form-actions">
            @Html.SubmitButton(WebPhrase.Create)
        </div>
        @Html.EditorForModel()
    }
</div>