@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";
    ViewBag.Title = Model.ToString();
}

<div class="container">
    @using (Html.BeginForm("Edit", ViewContext.RouteData.ControllerName(), FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-actions">
            @Html.SubmitButton(WebPhrase.Submit, "btn btn-primary")
        </div>
        if (!ViewData.ModelState.IsValid)
        {
            <p class="alert">
                @ViewData.ModelState.ErrorMessage()
            </p>
        }        
        @Html.EditorForModel()
    }
</div>