@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";
    ViewBag.Title = Model.ToString();
}

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="form-actions">
            @Html.SubmitButton()
        </div>
        @Html.EditorForModel()
    }
</div>