@{
    Layout = null;
}

<span id="account">
    @if (User.Identity.IsAuthenticated)
    {
        <span id="user">@User.Identity.Name</span>
        @Html.ActionLink(WebPhrase.LogOut, "LogOut", "Account", new { area = "Auth" }, new { id = "logout" })
    }
    else
    {
        @Html.ActionLink(WebPhrase.LogOn, "LogOn", "Account", new { area = "Auth" }, new { id = "logon" })
    }
</span>