<ul id="account">
    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <a id="user">@User.Identity.Name</a>        
        </li>
        <li>
            @Html.ActionLink(WebPhrase.LogOut, "LogOut", "Account", new { area = "Auth" }, new { id = "logout" })            
        </li>
    }
    else
    {
        <li>
            @Html.ActionLink(WebPhrase.LogOn, "LogOn", "Account", new { area = "Auth" }, new { id = "logon" })        
        </li>
    }    
</ul>