<ul class="nav">
    <li class="divider-vertical">​</li>
    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <a><i class="icon-user icon-white"></i> @User.Identity.Name</a>        
        </li>
        <li>
            @Html.ActionLink(WebPhrase.LogOut, "LogOut", "Account", new { area = "Auth" }, new { id = "logout" })            
        </li>
    }
    else
    {
        <li>
            @Html.ActionLink(WebPhrase.LogOn, "LogOn", "Account", new { area = "Auth" }, new { id = "logon" })        
        </li>
    }    
</ul>