@{
    Layout = "~/Views/Shared/_Scaffold.cshtml";
    ViewBag.Title = WebPhrase.LogOn;
}

@using (Html.BeginForm()) {
    <label>
        <b>@WebPhrase.EmailAddress</b>
        <input type="email" name="email" />
    </label>
    <label>
        <b>@WebPhrase.Password</b>
        <input type="password" name="password" />
    </label>
    <button type="submit">@WebPhrase.LogOn</button>
}