@model SiteMapNodeCollection

<ul>
    @foreach (SiteMapNode node in Model)
    {
        <li>
            <a @Html.OptionalAttr("class", "current", node.IsAncestorOrSelf()) href="@Url.Content(node.Url)">
                @node.Title
            </a>
        </li>
    }
</ul>