@model SiteMapNodeCollection

<ul>
    @foreach (SiteMapNode node in Model)
    {
        var className = node.Key.Match(ViewContext.RouteData.Slug()) || node.Key.Match(ViewContext.RouteData.ControllerName())
            ? "current" : string.Empty;
        <li><a @Html.Attr("class", className) href="@Url.Content(node.Url)">@node.Title</a></li>
    }
</ul>