@model WebSection

@{
    var sectionAttributes = new Dictionary<string, object>() {
        { "id", Model.Parameters.GetHtmlId() },
        { "class", Model.Parameters.GetHtmlClass() }    
    };
}

<section @Html.Attr(sectionAttributes)>
    @Html.Tag("h1", Model.Heading)
    @Html.Tag("h2", Model.SubHeading)
    @Html.Content(Model.Body)
</section>