@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "subscribe" }))
{
    <fieldset>
        <legend>@WebPhrase.Subscribe</legend>
        <label>
            @Html.TextBox("emailAddress", null, new { type = "email", placeholder = WebPhrase.EmailAddress })
        </label>
    </fieldset>
    @Html.SubmitButton()
}