@model IEnumerable<Instatus.Models.User>

<ul>
    @foreach (var user in Model)
    {
        <li itemscope itemtype="@user.GetItemType()" itemid="@user.Id">
            <span itemprop="name">@user.FullName</span>
        </li>
    }
</ul>  