* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;            
}

a, a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.ar {
    display: inline-block;
    position: relative;
    width: 100%;
}

.ar-4-3 .ar-inner {
     margin-top: 75%;
}

.ar-16-9 .ar-inner {
     margin-top: 56.25%;
}    

.ar-inner > * {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex {
    display: table;
    width: 100%;
    height: 100%;    
}

.flex-pane {
    display: table-cell;
    vertical-align: middle;
    text-align: center;    
}

.flex-pane > * {
    display: inline-block;
}

/* https://github.com/necolas/normalize.css/blob/master/normalize.css */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

[hidden] {
    display: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

img {
    border: 0;
}

/* http://nicolasgallagher.com/another-css-image-replacement-technique */

.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

/* http://nicolasgallagher.com/micro-clearfix-hack */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}