@inherits Instatus.Integration.Mvc.ExtendedViewPage<Instatus.Scaffold.Models.BlogPost>

<div class="container">
    <article>
        <h1 class="page-header">@Model.Title</h1>
        @Html.Raw(Model.Body)
    </article>
</div>